# Normalize line endings
* text=auto

# Shell scripts
*.sh text eol=lf

# Config files
*.conf text eol=lf
*.toml text eol=lf
*.json text eol=lf
*.vim text eol=lf
.vimrc text eol=lf
.ideavimrc text eol=lf
.tmux.conf text eol=lf
.bashrc_* text eol=lf
.zshrc_* text eol=lf
.gotty text eol=lf

# Web files
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf

# Markdown / docs
*.md text eol=lf

# Binary files
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.tar.bz2 binary
*.zip binary
